<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.eqm.mapper.EqmMapper">

	<select id="getEqm" resultType="EqmVO">
		SELECT EQM_CODE
				, EQM_NAME
				, MODEL_NAME
				, MAKER
				, PURPOSE
				, INSTALL_PLACE
				, BUY_COMPANY
				, BUY_PRICE
				, BUY_DATE
				, DUMP_DATE
				, CHECK_CYCLE
				, LAST_CHECK_DATE
				, EQM_STATUS
				, OPR_STATUS
		FROM EQM
		<include refid="condition"></include>
		ORDER BY 1
	</select>
	
	<sql id="condition">
		<where>
			<if test="keyword != null and keyword != ''">
				(EQM_CODE LIKE '%' || UPPER(#{keyword}) || '%'			
				OR EQM_NAME LIKE '%' ||  UPPER(#{keyword}) || '%'
				OR MODEL_NAME LIKE '%' ||  UPPER(#{keyword}) || '%')
			</if>
			<if test="status != null and status != ''">
				AND EQM_STATUS = #{status}
			</if>
			<if test="work != null and work != ''">
				AND OPR_STATUS = #{work}
			</if>
		</where>
	</sql>

</mapper>