<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{layout/index}">
<head>
	<meta charset="UTF-8">
	<title>주문관리</title>
	<!-- Toast UI CDN -->
	<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
</head>
<body>
	<!-- Thymeleaf 레이아웃 div -->
	<div layout:fragment="content">
	
		<h3 class="fw-bold py-1 mb-4">
			<span class="text-muted fw-light">영업관리 / </span> 주문관리
		</h3>

		<div sec:authentication="principal.usersVO.perm1" class="user" id="auth" style="display: none;"></div>
		<div sec:authentication="principal.usersVO.usersCode" class="user" id="usersCode" style="display: none;"></div>
		<!-- 검색 폼 -->
		<div class="search">
			<form name="searchForm" method="post">
				<div class="card mb-4">
					<h5 class="card-header">검색조건</h5>
					<div class="card-body demo-vertical-spacing demo-only-element">

						<!-- 주문코드 -->
						<div class="row mb-3">
							<label class="col-sm-1 col-form-label" style="font-size: 0.8rem;">주문코드</label>
							<div class="col-sm-6">
								<input class="form-control" type="text" id="ordersCode" name="ordersCode">
							</div>
						</div>

						<!-- 주문일자 -->
						<div class="row mb-3">
							<label class="col-sm-1 col-form-label" style="font-size: 0.8rem;">주문일자</label>
							<div class="col-sm-6 input-group">
								<input type="date" class="form-control" name="ordersStartDate" id="ordersStartDate">
								<span class="input-group-text">~</span> 
								<input type="date" class="form-control" name="ordersEndDate" id="ordersEndDate">
							</div>
						</div>
						
						<!-- 납기일자 -->
						<div class="row mb-3">
							<label class="col-sm-1 col-form-label" style="font-size: 0.8rem;">납기일자</label>
							<div class="col-sm-6 input-group">
								<input type="date" class="form-control" name="dueStartDate" id="dueStartDate">
								<span class="input-group-text">~</span> 
								<input type="date" class="form-control" name="dueEndDate" id="dueEndDate">
							</div>
						</div>
						
						<!-- 거래처명 -->
						<div class="row mb-3">
							<label class="col-sm-1 col-form-label" style="font-size: 0.8rem;">거래처명</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" name="companyName" id="companyName"></option>
							</div>

							<!-- Button trigger modal -->
							<div class="col-sm-2">
								<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalCenter">
									거래처 선택
								</button>
							</div>

							<!-- Modal -->
							<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">

										<!-- Modal Header -->
										<div class="modal-header">
											<h5 class="modal-title" id="modalCenterTitle">거래처 선택</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>

										<!-- Modal Body -->
										<div class="modal-body">
											<div class="row">
												<div class="col mb-0">
													<div id="companyGrid"></div>
												</div>
											</div>
										</div>

										<!-- Modal Footer -->
										<div class="modal-footer">
											<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="closeBtn">
												닫기
											</button>
										</div>

									</div>
								</div>
							</div>

						</div>

						<!-- 담당자 명 -->
						<div class="row mb-3">
							<label class="col-sm-1 col-form-label" style="font-size: 0.8rem;">담당자명</label>
							<div class="col-sm-6">
								<input class="form-control" type="text" id="usersName" name="usersName">
							</div>
						</div>

						<!-- 버튼 -->
						<div class="d-grid gap-2 d-md-flex justify-content-md-center">
							<button type="button" class="btn btn-primary me-md-2" id="searchOrdBtn" onclick="searchOrders()">검색</button>
							<button type="button" class="btn btn-primary" id="searchResetBtn" onclick="searchReset()">초기화</button>
						</div>

					</div>
				</div>
			</form>
		</div>

		<!-- grid -->
		<div class="ordersGrid">
			<div class="card">
				<!-- 주문 목록 -->
				<h5 class="card-header">주문 목록</h5>
				<div class="card-body demo-vertical-spacing demo-only-element">
					<!-- 그리드 div-->
					<div id="ordGrid"></div>
					<!-- 버튼 div -->
					<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
						<button type="button" class="btn btn-primary me-md-2" id="modBtn" onclick="modifyOrdStat()">주문상태수정</button>
						<button type="button" class="btn btn-primary me-md-2" id="delBtn" onclick="deleteOrders()">선택삭제</button>
					</div>
				</div>

				<!-- 주문 상세 목록 -->
				<h5 class="card-header">주문상세 목록</h5>
				<div class="card-body demo-vertical-spacing demo-only-element">
					<!-- 그리드 div-->
					<div id="detGrid"></div>
					<!-- 버튼 div -->
					<!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
						<button type="button" class="btn btn-primary me-md-2" id="modBtn" onclick="searchOrders()">수정</button>
						<button type="button" class="btn btn-primary me-md-2" id="resetBtn" onclick="searchReset()">취소</button>
					</div> -->
				</div>
			</div>
		</div>
		
		<!-- script -->
		<script src="/js/orders/ordersList.js"></script>
	</div>
</body>

</html>
<style>
	.star, .notice {
		color: red;
	}
</style>