<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
  <meta charset="UTF-8">
  <title>주문등록</title>
  <!-- Toast UI CDN -->
  <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
  <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
</head>
<body>
  
  <!-- thymeleaf -->
  <div layout:fragment="content">

		<!-- 로그인 사용자 정보 -->
		<div sec:authentication="principal.usersVO.perm1" class="user" id="auth" style="display: none;"></div>
		<div sec:authentication="principal.usersVO.usersCode" class="user" id="uCode" style="display: none;"></div>
		<div sec:authentication="principal.usersVO.usersName" class="user" id="uName" style="display: none;"></div>

		<!-- 페이지 제목 안내 -->
    <h3 class="fw-bold py-1 mb-4">
			<span class="text-muted fw-light">영업관리 / </span> 주문등록
		</h3>

		<!-- 입력 폼 -->
		<div class="insertDiv">
			<form name="insertForm" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				<div class="card mb-4">
					<h5 class="card-header">주문정보 입력</h5>
					<div class="card-body demo-vertical-spacing demo-only-element">
            
						<!-- 입력정보 -->

						<!-- 주문일자 -->
						<div class="row mb-3">
							<label class="col-sm-1 col-form-label" style="font-size: 0.8rem;">주문일자 <span class="star">*</span></label>
							<div class="col-sm-6">
								<input type="date" class="form-control" name="ordersDate">
              			</div>
						</div>

						<!-- 납기일자 -->
						<div class="row mb-3">
							<label class="col-sm-1 col-form-label" style="font-size: 0.8rem;">납기일자 <span class="star">*</span></label>
							<div class="col-sm-6 input-group">
								<input type="date" class="form-control" name="dueDate">
							</div>
						</div>

						<!-- 거래처명 -->
           				<div class="row mb-3">
							<label class="col-sm-1 col-form-label" style="font-size: 0.8rem;">거래처명 <span class="star">*</span></label>
							<div class="col-sm-4">
								<input type="hidden" class="form-control" name="companyCode"></option>
								<input type="text" class="form-control" name="companyName"></option>
							</div>

							<!-- Button trigger modal -->
							<div class="col-sm-2">
								<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalCenter">
									거래처 선택
								</button>
							</div>

							<!-- Modal -->
							<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">

										<!-- Modal Header -->
										<div class="modal-header">
											<h5 class="modal-title" id="modalCenterTitle">거래처 선택</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>

										<!-- Modal Body -->
										<div class="modal-body">
											<div class="row">
												<div class="col mb-0">
													<div id="companyGrid"></div>
												</div>
											</div>
										</div>

										<!-- Modal Footer -->
										<div class="modal-footer">
											<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="closeBtn">
												닫기
											</button>
										</div>

									</div>
								</div>
							</div>

						</div>

						<!-- 담당자명 -->
						<div class="row mb-3">
							<label class="col-sm-1 col-form-label" style="font-size: 0.8rem;">담당자명 <span class="star">*</span></label>
							<div class="col-sm-6 input-group">
								<input type="text" class="form-control" name="usersName" id="usersName" readonly>
							</div>
						</div>
						
						<!-- 총주문금액 -->
           				<div class="row mb-3">
							<label class="col-sm-1 col-form-label" style="font-size: 0.8rem;">총주문금액 <span class="star">*</span></label>
							<div class="col-sm-6 input-group">
								<input type="text" class="form-control" name="totalOrdersPrice" id="totalOrdersPrice" value="" readonly>
							</div>
						</div>

						<div id="defaultFormControlHelp" class="form-text"></div>
            
						<!-- 버튼 -->
						<div class="d-grid gap-2 d-md-flex justify-content-md-center">
							<button type="button" class="btn btn-primary me-md-2" id="searchBtn" onclick="saveInsert()">등록</button>
							<button type="button" class="btn btn-primary" id="resetOrdBtn" onclick="resetInsert()">초기화</button>
						</div>

					</div>
				</div>
			</form>
		</div>

		<!-- grid -->
		<div class="ordDetGrid">
			<div class="card">
				<!-- 주문 목록 그리드-->
				<h5 class="card-header col-sm-6">주문상세정보 입력</h5>
				<div class="card-body demo-vertical-spacing demo-only-element">
					<div id="ordDetGrid"></div>
				</div>
			</div>
		</div>

    <!-- js -->
    <script src="/js/orders/ordersInsert.js"></script>
  </div>
</body>
</html>
<style>
	.star, .notice {
		color: red;
	}
</style>