<!DOCTYPE html>
<!-- Thymeleaf 템플릿 주소 -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>ordersTest.html</title>
<!-- Toast UI CDN -->
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>\
<link rel="stylesheet" href="https://uicdn.toast.com/toast-ui.select-box/latest/toastui-select-box.css">
<script src="https://uicdn.toast.com/toast-ui.select-box/latest/toastui-select-box.js"></script>
</head>
<body>
	<!-- Thymeleaf 레이아웃 div -->
	<div layout:fragment="content">
		<h2>테스트 페이지</h2>

		<!-- Basic -->
		<div>
			<div class="card mb-4">
				<h5 class="card-header">Basic</h5>
				<div class="card-body demo-vertical-spacing demo-only-element">
					<div class="input-group">
						<span class="input-group-text" id="basic-addon11">@</span>
						<input
							type="text"
							class="form-control"
							placeholder="Username"
							aria-label="Username"
							aria-describedby="basic-addon11"
						/>
					</div>

					<div class="form-password-toggle">
						<label class="form-label" for="basic-default-password12">Password</label>
						<div class="input-group">
							<input
								type="password"
								class="form-control"
								id="basic-default-password12"
								placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
								aria-describedby="basic-default-password2"
							/>
							<span id="basic-default-password2" class="input-group-text cursor-pointer"
								><i class="bx bx-hide"></i
							></span>
						</div>
					</div>

					<div class="input-group">
						<input
							type="text"
							class="form-control"
							placeholder="Recipient's username"
							aria-label="Recipient's username"
							aria-describedby="basic-addon13"
						/>
						<span class="input-group-text" id="basic-addon13">@example.com</span>
					</div>

					<div class="input-group">
						<span class="input-group-text" id="basic-addon14">https://example.com/users/</span>
						<input
							type="text"
							class="form-control"
							placeholder="URL"
							id="basic-url1"
							aria-describedby="basic-addon14"
						/>
					</div>

					<div class="input-group">
						<span class="input-group-text">$</span>
						<input
							type="text"
							class="form-control"
							placeholder="Amount"
							aria-label="Amount (to the nearest dollar)"
						/>
						<span class="input-group-text">.00</span>
					</div>

					<div class="input-group">
						<span class="input-group-text">With textarea</span>
						<textarea class="form-control" aria-label="With textarea" placeholder="Comment"></textarea>
					</div>
				</div>
			</div>
		</div>
		
		<!-- ToastUI 그리드 띄우는 div -->
		<div id="grid"></div>
		<div id="select-box" style="width: 200px"></div>
		<!-- script 태그 => 타임리프 div 안에서 작성 -->
		<script src="/js/orders/ordersTest.js"></script>
	</div>
</body>

</html>