<!DOCTYPE html>
<!-- Thymeleaf 템플릿 주소 -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>ordersMain.html</title>
<!-- Toast UI CDN -->
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
</head>
<body>
	<!-- Thymeleaf 레이아웃 div -->
	<div layout:fragment="content">
		<h2>주문조회</h2>
		
		<!-- ToastUI 그리드 띄우는 div -->
		<div id="grid"></div>
		
		<!-- script 태그 => 타임리프 div 안에서 작성 -->
		<script>
		
		getOrdersList();
			
			// Toast UI grid
			// 그리드 속성, 헤더 정의 / html 요소와 연결
			const grid = new tui.Grid({
				el : document.getElementById('grid'),
				scrollX : false,
				scrollY : true,
				rowHeaders: ['checkbox'],
				columns : [ 
					{
						header : '주문코드',
						name : 'ORDERS_CODE',
						align : "center",
					}, 
					{
						header : '주문일자',
						name : 'ORDERS_DATE',
						align : "center",
						formatter: function(date) {
							let dateForm = new Date(date.value);
							let year = dateForm.getFullYear();
							let month = ('0' + (dateForm.getMonth() + 1)).slice(-2);
							let day = ('0' + dateForm.getDate()).slice(-2);
							let dateStr = `${year}/${month}/${day}`;
							return dateStr;
						}
					}, 
					{
						header : '납기일자',
						name : 'DUE_DATE',
						align : "center",
						formatter: function(date) {
							let dateForm = new Date(date.value);
							let year = dateForm.getFullYear();
							let month = ('0' + (dateForm.getMonth() + 1)).slice(-2);
							let day = ('0' + dateForm.getDate()).slice(-2);
							let dateStr = `${year}/${month}/${day}`;
							return dateStr;
						}
					}, 
					{
						header : '총주문금액',
						name : 'TOTAL_ORDERS_PRICE',
						align : "center",
					}, 
					{
						header : '주문상태',
						name : 'ORDERS_STATUS',
						align : "center",
					}, 
					{
						header : '담당자명',
						name : 'USERS_NAME',
						align : "center",
					}, 
					{
						header : '거래처명',
						name : 'COMPANY_NAME',
						align : "center",
					} 
				]
			});
			
			// 주문 조회(ajax)
			async function getOrdersList(){
				await fetch("/ajax/orders")
				.then(res => res.json())
				.then(res => {
					// ajax로 불러온 데이터 그리드에 넣음
					console.log(res);
					grid.resetData(res);
				})
			};
			  
		</script>
	</div>
</body>

</html>