<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
	<meta charset="UTF-8">
	<title>prodReqInsert.html</title>
	<!-- Toast UI CDN -->
	<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
</head>
<body>
	<!--  레이아웃 div -->
	<div layout:fragment="content">
		
		<!-- title -->
		<h3 class="fw-bold py-1 mb-4">
			<span class="text-muted fw-light">영업관리 / </span> 생산요청등록
		</h3>

		<!-- grid -->
		<div class="ordersGrid">
			<div class="card">
				<!-- 주문 목록 -->
				<h5 class="card-header">주문 목록</h5>
				<div class="card-body demo-vertical-spacing demo-only-element">
					<div id="ordGrid"></div>
				</div>
				<!-- 제품별 주문량 -->
				<h5 class="card-header">제품별 주문량</h5>
				<div class="card-body demo-vertical-spacing demo-only-element">
					<div id="prodGrid"></div>
				</div>
				<!-- 생산요청 수량 -->
				<h5 class="card-header">생산요청 수량</h5>
				<div class="card-body demo-vertical-spacing demo-only-element">
					<div id="reqGrid"></div>
				</div>
			</div>
		</div>

		<!-- script import -->
		<script src="/js/orders/prodReqInsert.js"></script>
	</div>
</body>

</html>