<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<meta charset="utf-8">

<head>
    <!-- toast grid -->
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
</head>

<body>
<div layout:fragment="content">
    <img src="/assets/img/best_donut_building1.png" height="750px">
</div>
</body>
