<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>insertUsers.html</title>
</head>
<link rel="stylesheet" href="/fonts/common.css" />
<link rel="stylesheet" href="/css/common.css" />
<body>
	<div layout:fragment="content">
		<h3 class="fw-bold py-1 mb-4" th:if = "${eqmVO.eqmCode} == null">
			<span class="text-muted fw-light">설비관리 / </span> 설비 기기 등록
		</h3>
		<h3 class="fw-bold py-1 mb-4" th:if = "${eqmVO.eqmCode} != null">
			<span class="text-muted fw-light">설비관리 / </span> 설비 기기 정보
		</h3>
		
		<form name="insertForm" method="post">
			<div class="card card-body mb-4">
				<div>
					<label>설비코드*</label>
					<input type="text" name="eqmCode" placeholder="자동생성" readonly th:value="${eqmVO.eqmCode}">
				</div>
				<div>
					<label>설비명*</label>
					<input type="search" name="eqmName" placeholder="설비명 입력" class="req" th:value="${eqmVO.eqmName}">
					<div id="notice1" class="form-text notice"></div>
				</div>
				<div>
					<label>모델명*</label>
					<input type="search" name="modelName" placeholder="모델명 입력" class="req" th:value="${eqmVO.modelName}">
					<div id="notice2" class="form-text notice"></div>
				</div>
				<div>
					<label>제조사</label>
					<input type="search" name="maker" placeholder="제조사 입력" th:value="${eqmVO.maker}">		
				</div>
				<div>
					<label>용도</label>
					<input type="search" name="purpose" placeholder="용도 입력" th:value="${eqmVO.purpose}">		
				</div>
				<div>
					<label>설치장소*</label>
					<input type="search" name="installPlace" placeholder="설치장소 입력" class="req" th:value="${eqmVO.installPlace}">
					<div id="notice3" class="form-text notice"></div>		
				</div>
				<div>
					<label>구입처</label>
					<input type="search" name="buyCompany" placeholder="구입처 입력" th:value="${eqmVO.buyCompany}">
				</div>
				<div>
					<label>구입가격</label>
					<input type="search" name="buyPrice" placeholder="구입가격 입력" th:value="${eqmVO.buyPrice}">		
				</div>
				<div>
					<label>구입일자*</label>
					<input type="Date" name="buyDate" class="req" th:value="${{eqmVO.buyDate}}">
					<div id="notice4" class="form-text notice"></div>	
				</div>	
				<div>
					<label>폐기일자</label>
					<input type="Date" name="dumpDate" th:value="${{eqmVO.dumpDate}}">
				</div>	
				<div>
					<label>점검주기</label>
					<input type="search" name="checkCycle" placeholder="점검주기" th:value="${eqmVO.checkCycle}">		
				</div>
				<div>
					<label>최근점검일</label>
					<input type="Date" name="lastCheckDate" th:value="${{eqmVO.lastCheckDate}}">
				</div>
				<div>
					<label>설비상태*</label>
					<input type="radio" name="eqmStatus" id="status1" value="ES1" class="form-check-input" th:checked='${eqmVO.eqmStatus == "ES1"}'>
					<label for="status1">정상</label>
					<input type="radio" name="eqmStatus" id="status2" value="ES2" class="form-check-input" th:checked='${eqmVO.eqmStatus == "ES2"}'>
					<label for="status2">설비고장</label>
					<input type="radio" name="eqmStatus" id="status3" value="ES3" class="form-check-input" th:checked='${eqmVO.eqmStatus == "ES3"}'>
					<label for="status3">설비점검</label>
					<input type="radio" name="eqmStatus" id="status4" value="ES4" class="form-check-input" th:checked='${eqmVO.eqmStatus == "ES4"}'>
					<label for="status4">설비수리</label>
					<input type="radio" name="eqmStatus" id="status5" value="ES5" class="form-check-input" th:checked='${eqmVO.eqmStatus == "ES5"}'>
					<label for="status5">폐기</label>															
					<div id="notice5" class="form-text notice"></div>
				</div>
				<div>
					<label>가동현황*</label>
					<input type="radio" name="oprStatus" id="status1" value="FO1" class="form-check-input" th:checked='${eqmVO.oprStatus == "FO1"}'>
					<label for="status1">대기</label>
					<input type="radio" name="oprStatus" id="status2" value="FO2" class="form-check-input" th:checked='${eqmVO.oprStatus == "FO2"}'>
					<label for="status2">가동중</label>
					<input type="radio" name="oprStatus" id="status3" value="FO3" class="form-check-input" th:checked='${eqmVO.oprStatus == "FO3"}'>
					<label for="status3">전원꺼짐</label>
				</div>
			</div>
		</form>
			
		<div class="mb-4" th:if = "${eqmVO.eqmCode} == null">
			<button type="button" id="saveBtn">등록완료</button>
		</div>
		<div class="mb-4" th:if = "${eqmVO.eqmCode} != null">
			<button type="button" id="delBtn" class="btn btn-secondary me-sm-2 me-1" onclick="deleteEqm()">삭제</button>
			<button type="button" id="updateBtn" class="btn btn-primary" onclick="updateEqm()">정보수정</button>
		</div>
		
		<script src="/js/eqm/insertEqm.js"></script>
	</div>
</body>
</html>