<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">

<head>
	<meta charset="UTF-8">
	<title>자재 입출 목록</title>
</head>

<body>
	<div layout:fragment="content">
		<h3 class="fw-bold py-1 mb-4">
			<span class="text-muted fw-light">자재관리 / </span> 자재 입출 목록
		</h3>
		
		<div>
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="inList-tab" data-bs-toggle="tab" data-bs-target="#inList"
						type="button" role="tab" aria-controls="inList" aria-selected="true">입고</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="outList-tab" data-bs-toggle="tab" data-bs-target="#outList"
						type="button" role="tab" aria-controls="outList" aria-selected="false">출고</button>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent" style="padding: 0;">
				<!-- 입고 목록 출력 -->
				<div class="tab-pane fade show active" id="inList" role="tabpanel" aria-labelledby="inList-tab">
					<div class="card mb-3" style="border-radius: 0; border: 0; box-shadow: none;">
						<h5 class="card-header">검색조건</h5>
						<div class="card-body">
							<div class="row mb-3">
								<label class="col-sm-1 col-form-label" style="font-size: 0.8rem;">입고일자</label>
								<div class="col-sm-6 input-group">
									<input type="date" class="form-control" name="sDate" id="sDate">
									<span class="input-group-text">~</span>
									<input type="date" class="form-control" name="eDate" id="eDate">
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-1 col-form-label" style="font-size: 0.8rem;">자재명</label>
								<div class="col-sm-6 input-group">
									<input type="text" class="form-control matName" name="matName" id="matName"
										placeholder="검색하고자하는 자재명을 입력하세요.">
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-1 col-form-label" style="font-size: 0.8rem;">LOT 코드</label>
								<div class="col-sm-6 input-group">
									<input type="text" class="form-control matLotCode" name="matLotCode" id="matLotCode"
										placeholder="검색하고자하는 LOT 코드를 입력하세요.">
								</div>
							</div>
							<div class="d-grid gap-2 d-md-flex justify-content-md-center">
								<button type="button" class="btn btn-primary me-md-2 searchBtn" id="searchBtn">검색</button>
								<button type="button" class="btn btn-primary resetBtn" id="resetBtn">초기화</button>
							</div>
						</div>
					</div>

					<!-- 입고 목록 테이블 -->
					<div class="card">
						<h5 class="card-header">입고 목록</h5>
						<div class="card-body" id="warehousingList"></div>
					</div>
				</div>

				<!-- 출고 목록 출력 -->
				<div class="tab-pane fade" id="outList" role="tabpanel" aria-labelledby="outList-tab">
					<div class="card mb-3 tab-pane fade show active" style="border-radius: 0; border: 0; box-shadow: none;">
						<h5 class="card-header">검색조건</h5>
						<div class="card-body">
							<div class="row mb-3">
								<label class="col-sm-1 col-form-label" style="font-size: 0.8rem;">출고일자</label>
								<div class="col-sm-6 input-group">
									<input type="date" class="form-control" name="sDate" id="sDate">
									<span class="input-group-text">~</span>
									<input type="date" class="form-control" name="eDate" id="eDate">
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-1 col-form-label" style="font-size: 0.8rem;">자재명</label>
								<div class="col-sm-6 input-group">
									<input type="text" class="form-control matName" name="matName" id="matName"
										placeholder="검색하고자하는 자재명을 입력하세요.">
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-1 col-form-label" style="font-size: 0.8rem;">LOT 코드</label>
								<div class="col-sm-6 input-group">
									<input type="text" class="form-control matLotCode" name="matLotCode" id="matLotCode"
										placeholder="검색하고자하는 LOT 코드를 입력하세요.">
								</div>
							</div>
							<div class="d-grid gap-2 d-md-flex justify-content-md-center">
								<button type="button" class="btn btn-primary me-md-2 searchBtn" id="searchBtn">검색</button>
								<button type="button" class="btn btn-primary resetBtn" id="resetBtn">초기화</button>
							</div>
						</div>
					</div>

					<!-- 출고 목록 테이블 -->
					<div class="card">
						<h5 class="card-header">출고 목록</h5>
						<div class="card-body" id="outgoingList"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- materialInOutList.js -->
		<script src="/js/materials/materialInOutList.js"></script>
	</div>
</body>

</html>