<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>자재 재고 관리</title>
<link rel="stylesheet" href="/css/material.css">
</head>
<body>
	<div layout:fragment="content">
		<h3 class="fw-bold py-1 mb-4">
		<span class="text-muted fw-light">자재관리 / </span> 자재 재고 관리
		</h3>
		<div sec:authentication="principal.usersVO.perm3" class="user" id="auth" style="display: none;"></div>
		
		<!-- 검색 폼 -->
		<div>
			<div class="mb-3 card">
				<h5 class="card-header">검색조건</h5>
				<div class="card-body">
					<div class="row mb-3">
						<label class="col-sm-1 col-form-label" style="font-size: 0.8rem;">자재명</label>
						<div class="col-sm-6 input-group">
							<input type="text" class="form-control" name="matName" id="matName" placeholder="검색하고자하는 자재명을 입력하세요.">
						</div>
					</div>
					<div class="d-grid gap-2 d-md-flex justify-content-md-center">
						<button type="button" class="btn btn-primary me-md-2" id="searchBtn">검색</button>
						<button type="button" class="btn btn-primary" id="resetBtn">초기화</button>
					</div>
				</div>
			</div>
		</div>

		<div>
			<div class="card">
				<!-- 자재 목록 -->
				<h5 class="card-header">자재 재고 목록</h5>
				<div class="card-body" id="materialsList"></div>
				<!-- 자재 상세 목록 -->
				<h5 class="card-header">LOT별 자재 재고 목록</h5>
				<div class="card-body" style="padding-bottom: 5px" id="materialDetails"></div>
				<div class="d-grid gap-2 d-md-flex justify-content-md-end mx-4 mb-4" id="authCheck">
					<button type="button" class="btn btn-secondary" id="disposeBtn">폐기</button>
				</div>
			</div>
		</div>

		<!-- materialStockManagement.js -->
		<script src="/js/materials/materialStockManagement.js"></script>
	</div>
</body>
</html>