<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>stockList.html</title>
<link rel="stylesheet" href="/css/material.css">
</head>
<body>
	<div layout:fragment="content">
		<h3>자재 재고 조회</h3>
		<!-- 검색 폼 -->
		<div class="searchForm">
			<label>자재명</label> 
			<input id="matName" type="text" name="matName">
			<button type="button" id="searchBtn">검색</button>
			<button type="button" id="resetBtn">초기화</button>
		</div>
		<div id="materialsList"></div>
		<div id="materialDetails"></div>
		<!-- materialStockManagement.js -->
		<script src="/js/materials/materialStockManagement.js"></script>
	</div>
</body>
</html>