<!DOCTYPE html>
<!-- Thymeleaf 템플릿 주소 -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>prodPlan.html</title>
<!-- Toast UI CDN -->
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<style>
.btn-addrow,
.btn-addinput,
.btn-insert {
	width: 50px;
	margin-left: auto; /* display:flex 적용되어 있어 float: right X */
}
.btn-delrow {
	width: 50px;
	float: right;
}

</style>
</head>

<body>
	<!-- Thymeleaf 레이아웃 div -->
	<div layout:fragment="content">
	
		<h2>생산계획 등록</h2>
		<div style="padding-top: 30px;"></div>
		
		<button type="button" class="btn btn-primary btn-sm btn-insert" id="insertBtn">등록</button>
		
		<div id="plInsert"></div>

		<button type="button" class="btn btn-info btn-sm btn-addrow" id="addRowBtn">추가</button>
		<button type="button" class="btn btn-secondary btn-sm btn-delrow" id="delRowBtn">삭제</button>		
		<div id="plDeInsert"></div>

		<div style="padding-top: 30px;"></div>
		<h4>주간 생산요청</h4>
		<div id="plreq"></div>
		<div id="plreqD" style="padding-top: 20px; padding-bottom: 10px"></div>
		<button type="button" class="btn btn-primary btn-sm btn-addinput" id="addInputBtn">입력</button>
		
		
		
		
		<!-- script 태그 => 타임리프 div 안에서 작성 -->
		<script>
		
		getProdReq();
		
			/* < 생산계획 > */
			
			//생산계획 등록
			const plInsert = new tui.Grid({
				el : document.getElementById('plInsert'),
				scrollX : false,
				scrollY : false,
				bodyHeight: 40,
				minBodyHeight: 40,
				columns : [
					{
						header : '생산계획코드',
						name : 'prodPlanCode',
						align: 'center',
					},
					{
						header : '생산요청코드',
						name : 'prodReqCode',
						align: 'center',
						//editor: 'text'
					},
					{
						header : '생산계획일자',
						name : 'prodPlanDate',
						align: 'center',
						editor: 'text',
						formatter: dateFormat //공통함수
					},
					{
						header : '담당자',
						name : 'usersCode',
						align: 'center',
						//editor: 'text'
					}
				]
			});
			plInsert.appendRow({prodPlanDate: new Date()});
			
			//생산계획 상세
			const plDeInsert = new tui.Grid({
				el : document.getElementById('plInsert'),
				scrollX : false,
				scrollY : false,
				columns : [
					{
						header : '생산계획상세코드',
						name : 'prodPlanDetailCode',
						align: 'center',
						editor: 'text'
					},
					{
						header : '생산요청상세코드',
						name : 'prodReqDetailCode',
						align: 'center',
						editor: 'text'
					}, 
					{
						header : '고정수량',
						name : 'fixCnt',
						align: 'center'
					},
					{
						header : '요청수량',
						name : 'reqCnt',
						align: 'center'
					},
					{
						header : '계획수량',
						name : 'planCnt',
						align: 'center'
					},
					{
						header : '담당자',
						name : 'usersCode',
						align: 'center'
					}
				]
			});
			
			
			//생산계획 상세 등록 행추가
			let addRowBtn = document.getElementById('addRowBtn');
			addRowBtn.addEventListener('click', function() {
	    		/* plInsert.appendRow({prodPlanDate: new Date()}); */
				plDeInsert.appendRow({});
	    		
			});
			let delRowBtn = document.getElementById('delRowBtn');
			delRowBtn.addEventListener('click', function() {
				plDeInsert.removeRow({});
			});
			
			
			//생산요청상세 => 생산계획상세 폼에 입력

			
/* 			
			function addPrqCode() { 
				plInsert. = plreq.getFocusedCell().value
			} */

			
			//생산요청코드 => 생산계획입력 폼에
		/* 	let addInputBtn = document.getElmentById('addInputBtn');
			addInputBtn.addEventListener('click', function() {
				plreqD.getCheckedRows();
			}) */
			
			
			//=========================================================================
			
			/* < 생산요청 > */
			const plreq = new tui.Grid({
				el : document.getElementById('plreq'),
				scrollX : false,
				scrollY : false,
				bodyHeight: 40,
				minBodyHeight: 40,
				columns : [
					{
						header : '생산요청일자',
						name : 'reqDate',
						align: 'center',
						formatter: dateFormat
					},
					{
						header : '생산요청코드',
						name : 'prodReqCode',
						align: 'center'
					}, 
					{
						header : '총 요청수량',
						name : 'totalReqCnt',
						align: 'center'
					}, 
					{
						header : '담당자',
						name : 'usersCode',
						align: 'center'
					}
				]
			});
			const plreqD = new tui.Grid({
				el : document.getElementById('plreqD'),
				scrollX : false,
				scrollY : false,
				rowHeaders: ['checkbox'],
				columns : [
					{
						header : '생산요청상세코드',
						name : 'prodReqDetailCode',
						align: 'center'
					},
					{
						header : '제품코드',
						name : 'productCode',
						align: 'center'
					}, 
					{
						header : '수량',
						name : 'reqCnt',
						align: 'center'
					}
				]
			});
			
			// 생산요청조회(ajax)
			async function getProdReq(){
				await fetch("/ajax/prodReq")
				.then(res => res.json())
				.then(res => {
					console.log(res);

					plreq.resetData(res.prodReq); //ServiceImpl에서 넘겨 준 변수명
					plreqD.resetData(res.prodReqDe);
				})
			};
			
			
			
			//생산요청=>생산계획
			plreq.on("click", (e) => {
				console.log(e);
				let prcode = plreq.getValue(e.rowKey, "prodReqCode");
				plInsert.setValue(0, "prodReqCode", prcode) //setValue(0, "prodReqCode", prcode, false) false가 기본값
			})

			  
		</script>

		
		
	</div>

</body>
</html>