<!DOCTYPE html>
<!-- Thymeleaf 템플릿 주소 -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>prodPlan.html</title>
<!-- Toast UI CDN -->
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

</head>

<body>
	<!-- Thymeleaf 레이아웃 div -->
	<div layout:fragment="content">
	
		<h2>생산계획 등록</h2>
		<div style="padding-top: 30px;"></div>
		
		<h4>주간 생산요청</h4>
		<div id="plreq"></div>
		<div id="plreqD" style="padding-top: 20px; padding-bottom: 20px;"></div>
		
		
		<h4>생산계획</h4>
		<form action="" method="post">
			생산계획코드 <input name="">
			
		</form>
		
		
		<!-- script 태그 => 타임리프 div 안에서 작성 -->
		<script>
		
		getProdReq();
			
			// Toast UI grid
			// 그리드 속성, 헤더 정의 / html 요소와 연결
			const plreq = new tui.Grid({
				el : document.getElementById('plreq'),
				scrollX : false,
				scrollY : false,
				bodyHeight: 40,
				minBodyHeight: 40,
				columns : [
					{
						header : '생산요청일자',
						name : 'reqDate',
						align: 'center',
						formatter: function dateFormat(dt) {
							/* console.log(dt) */
							let date = new Date(dt.value);
							let year = date.getFullYear();
							let month = ( 1 + date.getMonth() );
							let day = date.getDate();
							
							month = month >= 10 ? month : '0' + month; //10미만일 시 앞에 0을 붙혀서 저장
							day = day >= 10 ? day : '0' + day;
							
							return `${year}년 ${month}월 ${day}일`;
						}
					},
					{
						header : '생산요청코드',
						name : 'prodReqCode',
						align: 'center'
					}, 
					{
						header : '총 요청수량',
						name : 'totalReqCnt',
						align: 'center'
					}, 
					{
						header : '담당자',
						name : 'usersCode',
						align: 'center'
					}
				]
			});
			const plreqD = new tui.Grid({
				el : document.getElementById('plreqD'),
				scrollX : false,
				scrollY : false,

				columns : [
					{
						header : '생산요청상세코드',
						name : 'prodReqDetailCode',
						align: 'center'
					},
					{
						header : '제품코드',
						name : 'productCode',
						align: 'center'
					}, 
					{
						header : '수량',
						name : 'reqCnt',
						align: 'center'
					}
				]
			});
			
			// 생산요청조회(ajax)
			async function getProdReq(){
				await fetch("/ajax/prodReq")
				.then(res => res.json())
				.then(res => {
					console.log(res);

					plreq.resetData(res.prodReq); //ServiceImpl에서 넘겨 준 변수명
					plreqD.resetData(res.prodReqDe);
				})
			};
			
			
			//생산계획 등록
			
			
			  
		</script>

		
		
	</div>

</body>
</html>