<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>notOprMain.html</title>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<link rel="stylesheet" href="/fonts/common.css" />
</head>
<body>
	<div layout:fragment="content">
		<h2>비가동 목록</h2>

		<div id="grid"></div>
		
		<script>
	 		tui.Grid.applyTheme('clean');

		 	const grid = new tui.Grid({
		      el: document.getElementById('grid'),
		      scrollX: false,
		      scrollY: false,
		      rowHeaders: ['rowNum'],
		      columns: [
		        {
		          header: '비가동코드',
		          name: 'notOprCode',
		          sortingType: 'asc',
		          sortable: true,
		          align: 'center'
		        },
		        {
		          header: '설비코드',
		          name: 'eqmCode',
		          sortingType: 'asc',
		          sortable: true,
		          align: 'center'
		        },
		        {
		          header: '설비명',
		          name: 'eqmName',
		          sortingType: 'asc',
		          sortable: true,
		          align: 'center'
		        },
		        {
		          header: '비가동구분',
		          name: 'notOprSep',
		          sortingType: 'asc',
		          sortable: true,
		          align: 'center'
		        },
		        {
		          header: '시작일자',
		          name: 'beginDate',
		          align: 'center'
		        },
		        {
		          header: '종료일자',
		          name: 'endDate',
		          align: 'center'
		        },
		        {
		          header: '담당자명',
		          name: 'usersName',
		          align: 'center'
		        }
		      ]
		    });
		 	
		 	
		 	
		 	
   			async function getNotOprList(){
				await fetch("/ajax/notOpr")
				.then(res => res.json())
				.then(res => {
					grid.resetData(res)
				})
			};
			getNotOprList();

		    
		    



			


		</script>
		
	</div>
</body>
</html>

<style>
h2 {
	text-align: center;
}
</style>