<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>사용자 등록/정보</title>
</head>
<link rel="stylesheet" href="/css/common.css" />
<body>
	<div layout:fragment="content">
		<h3 class="fw-bold py-1 mb-4" th:if="${usersVO.usersCode} == null">
			<span class="text-muted fw-light">공통관리 / </span> 사용자 등록
		</h3>
		<h3 class="fw-bold py-1 mb-4" th:if="${usersVO.usersCode} != null">
			<span class="text-muted fw-light">공통관리 / </span> 사용자 정보
		</h3>
		
		<form name="insertForm" method="post">
			<div class="card card-body mb-4">
				<h5>정보입력</h5>
				<div class="row mb-3">
					<label class="col-sm-1 col-form-label" style="font-size: 15px;">사용자코드<span class="star">*</span></label>
					<div class="col-sm-6">
						<input type="text" name="usersCode" placeholder="자동생성" readonly th:value="${usersVO.usersCode}" class="form-control">
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-1 col-form-label" style="font-size: 15px;">사용자명<span class="star">*</span></label>
					<div class="col-sm-6">
					<input type="search" name="usersName" placeholder="사용자명 입력" class="req form-control" th:value="${usersVO.usersName}">
					<div id="notice1" class="form-text notice"></div>
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-1 col-form-label" style="font-size: 15px;">소속<span class="star">*</span></label>
					<div class="col-sm-6">
<!-- 					<input type="search" name="position" placeholder="소속 입력" class="req form-control" th:value="${usersVO.position}"> -->
						<select name="position" th:value="${usersVO.position}" class="req form-select">
							<option value="" th:if="${usersVO.usersCode} == null">소속 선택</option>
							<option th:value="${usersVO.position}" th:text="${usersVO.position}" th:if = "${usersVO.usersCode} != null"></option>
							<option>영업관리팀</option>
							<option>생산관리팀</option>
							<option>자재관리팀</option>
							<option>품질관리팀</option>
							<option>설비관리팀</option>
						</select>
					<div id="notice2" class="form-text notice"></div>
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-1 col-form-label" style="font-size: 15px;">내선번호</label>
					<div class="col-sm-6">
					<input type="search" name="localTel" placeholder="내선번호 입력" th:value="${usersVO.localTel}" class="form-control">		
					</div>
				</div>
<!--  				 [[${usersVO}]] -->
				<div class="row mb-3">
					<label class="col-sm-1">사용자권한<span class="star">*</span></label>
					<div class="col-sm-6">
					<input type="checkbox" id="perm0" value="master" name="master" class="form-check-input" th:checked='${usersVO.perm1 == "1" && usersVO.perm2 == "1" && usersVO.perm3 == "1" && usersVO.perm4 == "1" && usersVO.perm5 == "1"}'>
					<label for="perm0" class="form-check-inline">전체</label>
					<div id="perm" style="display:inline-block;">
						<input type="checkbox" id="perm1" value="PER00001" name="perm" class="form-check-input" th:checked='${usersVO.perm1 == "1"}'>
						<label for="perm1" class="form-check-inline">영업관리</label>
						<input type="checkbox" id="perm2" value="PER00002" name="perm" class="form-check-input" th:checked='${usersVO.perm2 == "1"}'>
						<label for="perm2" class="form-check-inline">생산관리</label>
						<input type="checkbox" id="perm3" value="PER00003" name="perm" class="form-check-input" th:checked='${usersVO.perm3 == "1"}'>
						<label for="perm3" class="form-check-inline">자재관리</label>
						<input type="checkbox" id="perm4" value="PER00004" name="perm" class="form-check-input" th:checked='${usersVO.perm4 == "1"}'>
						<label for="perm4" class="form-check-inline">품질관리</label>
						<input type="checkbox" id="perm5" value="PER00005" name="perm" class="form-check-input" th:checked='${usersVO.perm5 == "1"}'>
						<label for="perm5" class="form-check-inline">설비관리</label>
					</div>
						<div id="notice3" class="form-text notice"></div>
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-1">사용자상태<span class="star">*</span></label>
					<div class="col-sm-6">
						<input type="radio" name="usersStatus" id="status1" value="USY" class="form-check-input" th:checked='${usersVO.usersStatus == "USY"}'>
						<label for="status1" class="form-check-inline">활성</label>
						<input type="radio" name="usersStatus" id="status2" value="USN" class="form-check-input" th:checked='${usersVO.usersStatus == "USN"}'>
						<label for="status2" class="form-check-inline">비활성</label>
						<div id="notice4" class="form-text notice"></div>
					</div>
				</div>
			</div>
		</form>
		
		<div class="mb-5 d-md-flex justify-content-md-center">	
			<div class="mb-4" th:if = "${usersVO.usersCode} == null">
				<button type="button" id="saveBtn" class="btn btn-primary">등록완료</button>
			</div>
			<div class="mb-4" th:if = "${usersVO.usersCode} != null">
				<button type="button" id="delBtn" class="btn btn-secondary me-sm-2 me-1" onclick="deleteUsers()">삭제</button>
				<button type="button" id="updateBtn" class="btn btn-primary" onclick="updateUsers()">정보수정</button>
			</div>
		</div>

		<script src="/js/users/insertUsers.js" defer></script>
	</div>
</body>
</html>

<style>
.star, .notice {
	color: red;
}
</style>