<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>usersMain.html</title>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<link rel="stylesheet" href="/fonts/common.css" />
</head>
<body>
	<div layout:fragment="content">
		<h2>사용자 목록</h2>
		
		<table border="1">
			<tr>
				<th>검색어</th>
			</tr>
			<tr>
				<td><input type="text" name="search" id="search"></td>
				<button onclick="searchValue()">검색</button>
			</tr>			
		</table>


<!-- 		<input type="text" name="search">
		<button onclick="getList()">검색</button> -->

		
		<div id="grid"></div>
		
		<script>
	 		tui.Grid.applyTheme('clean');

		 	const grid = new tui.Grid({
		      el: document.getElementById('grid'),
		      scrollX: false,
		      scrollY: false,
		      rowHeaders: ['rowNum'],
		      header: {
		          height: 70,
		          complexColumns: [
				        {
				          header: '사용자권한',
				          name: 'mergeColumn1',
						  childNames: ['businessPerm', 'prodPerm', 'matPerm', 'qltyPerm', 'eqmMngPerm', 'master']
				        },
	        	  ]
		      },
		      columns: [
		        {
		          header: '사용자코드',
		          name: 'usersCode',
		          sortingType: 'asc',
		          sortable: true,
		          align: 'center',
		          filter: 'text'
		        },
		        {
		          header: '사용자명',
		          name: 'usersName',
		          sortingType: 'asc',
		          sortable: true,
		          align: 'center'
		        },
		        {
		          header: '영업',
		          name: 'businessPerm',
		          align: 'center'
		        },
		        {
		          header: '생산',
		          name: 'prodPerm',
		          align: 'center'
		        },
		        {
		          header: '자재',
		          name: 'matPerm',
		          align: 'center'
		        },
		        {
		          header: '품질',
		          name: 'qltyPerm',
		          align: 'center'
		        },
		        {
		          header: '설비',
		          name: 'eqmMngPerm',
		          align: 'center'
		        },		    
		        {
		          header: '마스터',
		          name: 'master',
		          align: 'center'
		        },		    			        
		        {
		          header: '사용자상태',
		          name: 'usersStatus',
		          align: 'center'
		        }
		      ]
		    });
		 	

		    
		    

/* 			const state = {
			  code: 'eq',
			  value: 'USE00001'
			};
			const filterState = {columnName: 'usersCode', columnFilterState: state };
			const filterOpt = {
					  type: 'text',
					  showApplyBtn: true,
					  showClearBtn: false,
					  operator: 'OR',
					}; */
		    
			
			
			
			
			
   			async function getUsersList(){
				await fetch("/ajax/users")
				.then(res => res.json())
				.then(res => {
					grid.resetData(res)
				})
			};
			getUsersList();
			
/* 			const code = 'USE00001'; */

			
 			

			
/* 			const code1 = ''; */
			async function searchValue(){
			const code1 = document.getElementById('search').value;
			console.log(code1);
			
			
 			const state1 = {
 					  code: 'eq',
 					  value: code1
 					};
			
				
				await fetch("/ajax/users")
				.then(res => res.json())
				.then(res => {
					grid.resetData(res)
				})
				.then(res => {
					grid.filter('usersCode', [state1])
				})
			
			}

/*  					grid.filter('usersCode', [state1]); */
			
			

		</script>
		
	</div>
</body>
</html>

<style>
h2 {
	text-align: center;
}
</style>