<!DOCTYPE html>

<!-- =========================================================
* Sneat - Bootstrap Dashboard PRO | v1.0.0
==============================================================

* Product Page: https://themeselection.com/item/sneat-dashboard-pro-bootstrap/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html lang="en" class="light-style layout-wide  customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="../../assets/" data-template="vertical-menu-template">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>접근제한</title>

    
    <meta name="description" content="Most Powerful &amp; Comprehensive Bootstrap 5 Admin Dashboard built for developers!" />
    <meta name="keywords" content="dashboard, bootstrap 5 dashboard, bootstrap 5 design, bootstrap 5">
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://themeselection.com/item/sneat-dashboard-pro-bootstrap/">
    
    
    <!-- ? PROD Only: Google Tag Manager (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5DDHKGP');</script>
    <!-- End Google Tag Manager -->
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="../assets/vendor/css/pages/page-auth.css" />
    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
  </head>
  <link rel="stylesheet" href="/fonts/common.css" />

	<body>
	
	  

	  
	  <!-- Content -->
	
	<!-- Not Authorized -->
	<div><br><br><br><br><br><br><br>
		<div class="container-xxl container-p-y card" style="text-align: center;">
		  <div class="misc-wrapper card-body">
		    <div class="mt-5">
		      <img src="/assets/img/warning.png" alt="page-misc-not-authorized-light" width="200px" class="img-fluid" data-app-light-img="illustrations/girl-with-laptop-light.png" data-app-dark-img="illustrations/girl-with-laptop-dark.png">
		    </div><br>
		    <h2 class="mb-5 mx-2">요청하신 페이지에 접근 권한이 없습니다.</h2>
	 	    <p class="mb-4 mx-2">해당 페이지는 권한이 있는 계정만 접근할 수 있습니다.<br> 담당자에게 문의하시기 바랍니다.</p>
		    <a href="/" class="btn btn-secondary">메인으로</a>
		  </div>	
		<a style="text-align: right;" href="https://www.flaticon.com/kr/free-icon/exclamation-mark_8727618?term=%EB%8A%90%EB%82%8C%ED%91%9C&page=2&position=25&origin=search&related_id=8727618" title="조심 아이콘">조심 아이콘 제작자: bsd - Flaticon</a>
		</div>
	</div>
	<!-- /Not Authorized -->
	
	<!-- / Content -->
	
	  

	  
	
	  <!-- Core JS -->
	  <!-- build:js assets/vendor/js/core.js -->
	  
	  <script src="../../assets/vendor/libs/jquery/jquery.js"></script>
	  <script src="../../assets/vendor/libs/popper/popper.js"></script>
	  <script src="../../assets/vendor/js/bootstrap.js"></script>
	  <script src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
	  <script src="../../assets/vendor/libs/hammer/hammer.js"></script>
	  <script src="../../assets/vendor/libs/i18n/i18n.js"></script>
	  <script src="../../assets/vendor/libs/typeahead-js/typeahead.js"></script>
	  <script src="../../assets/vendor/js/menu.js"></script>
	  
	  <!-- endbuild -->
	
	  <!-- Vendors JS -->
	  
	  
	
	  <!-- Main JS -->
	  <script src="../../assets/js/main.js"></script>
	  
	
	  <!-- Page JS -->
	</body>

</html>

<!-- beautify ignore:end -->

