<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 		layout:decorate="~{layout/index}"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"> <!-- {폴더명/파일명} -->
<head>
<meta charset="UTF-8">
<title>완제품 품질 관리</title>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<link rel="stylesheet" href="/fonts/common.css" />
<link rel="stylesheet" href="/css/common.css" />
</head>
<body>
<div sec:authentication="principal.usersVO.perm4" class="user" id="auth" style="display: none;"></div>
<div layout:fragment="content">
	<h3 class="fw-bold py-1 mb-4">
	<span class="text-muted fw-light">품질관리 / </span> 완제품 품질 관리
	</h3>
	<div>
		<div class="card mb-3">
			<div class="card-body">
				<div class="row mb-3">
					<div class="btnClass">
						<label class="col-sm-1 col-form-label" style="font-size: 0.8rem;">제품명</label>
						<input id="prodName" class="form-control" type="text" name="prodName" style="width: 500px;" placeholder="제품명을 입력해주세요"><br>
						<label for="date" class="col-sm-1 col-form-label">검사접수일자</label>
					<div class="col-sm-6 input-group">
  						<input type="date" class="form-control" id="inDate" max="2100-12-31" min="1970-01-01"><br>
					</div>
						<div class="py-0 mb-2 d-md-flex justify-content-md-center" style="margin-top: 10px;">
						<button id="findBtn" type="button" class="btn btn-primary me-md-2" onclick="findProd()">검색</button>
						<button id="resetBtn" type="button" class="btn btn-primary me-md-2" onclick="reset()">초기화</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>


<div>
	<div class="card mb-3">
		<div class="card-body">
			<div class="row mb-3">
				<div class="grid1">
				<div id="grid"></div>
				</div>
			</div>
			<script src="/js/quality/adminProQuality.js"></script>
			<div class="downBtn"  style="text-align: center;">
			<button id="selDelBtn" type="button" class="btn btn-primary me-md-2">선택삭제</button>
			<button id="updateBtn" type="button" class="btn btn-primary me-md-2">수정</button>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>

<style>
.findBtn {
	margin-top : 10px;
}
.btnClass {
	/* text-align : right; */
	margin-right : 10px;
	padding : 10px;
}
.downBtn {
	/* text-align : right; */
	margin-top : 10px;
}
</style>