<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 		layout:decorate="~{layout/index}"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"> <!-- {폴더명/파일명} -->
<head>
<meta charset="UTF-8">
<title>adminMatQuality.html</title>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<link rel="stylesheet" href="/fonts/common.css" />
<link rel="stylesheet" href="/css/common.css" />
</head>
<body>
	<div sec:authentication="principal.usersVO.perm4" class="user" id="auth" style="display: none;"></div>
		<div layout:fragment="content">
		<h3 class="fw-bold py-1 mb-4">
			<span class="text-muted fw-light">품질관리 / </span> 자재 품질 관리
		</h3>
		<div class="card-body">
			<div class="row mb-3">
				<div class="me-3 p-3" >
			<label>자재 코드</label>
				<input id="matCode" type="text" name="matCode"><br>
			<label for="date">입고 날짜
  			<input type="date" id="inDate" max="2100-12-31" min="1970-01-01" value=today>
			</label>
		</div>
		<div class="py-1 mb-4 text-end">
			<button id="findBtn" type="button" onclick="findMat()">검색</button>
			<button id="selDelBtn" type="button">선택삭제</button>
			<button id="updateBtn" type="button">수정</button>
		</div>
		</div>
		</div>


	<div id="grid"></div>


<script src="/js/quality/adminMatQuality.js"></script>

</div>
</body>
</html>

<style>
.btnClass {
	/* text-align : right; */
	margin-right : 10px;
	padding : 10px;
}
.downBtn {
	/* text-align : right; */
	margin-top : 10px;
}
</style>