<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 		layout:decorate="~{layout/index}"> <!-- {폴더명/파일명} -->
<head>
<meta charset="UTF-8">
<title>qualityInsert.html</title>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
</head>
<body>
<div layout:fragment="content">
	<h3>자재 품질 관리</h3>

	<div id="grid"></div>

	<script>

	 class CustomTextEditor {
	      constructor(props) {

	        const el = document.createElement('input');
	        const { maxLength } = props.columnInfo.editor.options;

	        el.type = 'text';
	        el.maxLength = maxLength;
	        el.value = String(props.value);

	        this.el = el;
	      }

	      getElement() {
	        return this.el;
	      }

	      getValue() {
	        return this.el.value;
	      }

	      mounted() {
	        this.el.select();
	      }
	    }

	getMatInfo();

	const grid = new tui.Grid({
		el : document.getElementById('grid'),
		scrollX : false,
		scrollY : true,
		rowHeaders: ['checkbox'],
		columns : [
			{
				header : '자재코드',
				name : 'MAT_CODE',
				align : "center",
			},
			{
				header : '자재명',
				name : '',
				align : "center",
			},
			{
				header : '검사명',
				name : 'INOUT_CNT',
				align : "center",

			},
			{
				header : '검사 종결여부',
				name : 'WAREHOUSING_VEHICLES_CHECK',
				align : "center",
				editor: {
		            type: 'select',
		            options: {
		              listItems: [
		                { text: '미검사', value: '1' },
		                { text: '검사중', value: '2' },
		                { text: '검사 완료', value: '3' }
		              ]
		            }
		          }
			},
			{
				header : '적합수량',
				name : 'BAD_SEP',
				align : "center",
			}
		]

	});

	grid.on('beforeChange', ev => {
	      console.log('before change:', ev);
	    });
    grid.on('afterChange', ev => {
      console.log('after change:', ev);
    })


	async function getMatInfo(){
		await fetch("ajax/matInfo")
		.then(res => res.json())
		.then(res => {
			console.log(res);
			grid.resetData(res);
		})
	};
	</script>


</div>
</body>
</html>