<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 		layout:decorate="~{layout/index}"> <!-- {폴더명/파일명} -->
<head>
<meta charset="UTF-8">
<title>insertProQuality.html</title>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/toast-ui.select-box/latest/toastui-select-box.css">
<script src="https://uicdn.toast.com/toast-ui.select-box/latest/toastui-select-box.js"></script>
</head>
<body>
<div layout:fragment="content">
	<h3>완제품 품질 등록</h3>
	<div class="btnClass">

		<label for="date">생산완료일자
				<input type="date"
							 id="inDate"
							 max="2100-12-31"
							 min="1970-01-01"
							 >
			</label><br>
			<button id="findBtn" type="button">검색</button>
		</div>
		<div class="grid1">
			<div id="grid1">
			</div>
		</div>
		<h4>완제품 품질 입력</h4>
		<tr>
			<td>이 자리에 양식넣을거임</td>
		</tr>
		<div class="grid2">
			<div id="grid2">
			</div>
		</div>

		<script src="/js/quality/insertProQuality.js"></script>

		<button id="saveBtn" type="button" onclick="insertProDtl()">등록</button>
	</div>

</body>
</html>

<style>
.saveBtn {
 		display : flex;
		padding : 1px 6px ;
		justify-content : flex-end;
 	}
.btnClass {
	/* text-align : right; */
	margin-right : 10px;
	padding : 10px;
}
h4 {
	margin-top: 20px !important ;
}
</style>