<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 		layout:decorate="~{layout/index}"> <!-- {폴더명/파일명} -->
<head>
<meta charset="UTF-8">
<title>insertMatQuality.html</title>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/toast-ui.select-box/latest/toastui-select-box.css">
<script src="https://uicdn.toast.com/toast-ui.select-box/latest/toastui-select-box.js"></script>
</head>
<body>
<div layout:fragment="content">
	<h3>자재 품질 등록</h3>
	<div class="btnClass">
	<label>자재 LOT 번호</label>
		<input id="matLOT" type="text" name="matLOT"><br>
	<label for="date">입고 날짜
  		<input type="date"
         		id="inDate"
         		max="2100-12-31"
         		min="1970-01-01"
         		>
		</label><br>
		<button id="findBtn" type="button" onclick="findMat()">검색</button>
		<button id="saveBtn" type="button" onclick="insertMat()">등록</button>
	</div>
	<div id="grid"></div>

	<script src="/js/quality/insertMatQuality.js"></script>

</div>

</body>
</html>

<style>
.saveBtn {
 		display : flex;
		justify-content : flex-end;
 		margin-bottom : 20px;
 	}
.btnClass {
	/* text-align : right; */
	margin-right : 10px;
	padding : 10px;
}
</style>