<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.comCode.mapper.ComCodeMapper">
   	
   	<!-- 공통코드 목록 SELECT -->
   	<select id="getComCodeList" resultType="ComCodeVO">
   		SELECT maincode
 			   , maincode_name
 	      FROM common_code
 	     WHERE 1=1
 	     <if test="maincode != null and maincode != ''">
 	     	AND maincode LIKE '%' || #{maincode} || '%'
 	     </if>
 	     <if test="maincodeName != null and maincodeName != ''">
 	     	AND maincode_name LIKE '%' || #{maincodeName} || '%'
 	     </if>
   	</select>
   	
   	<!-- 공통코드 상세 목록 SELECT -->
   	<select id="getComCodeDetList" resultType="ComCodeDetailVO">
   		SELECT subcode
			   , subcode_name
			   , maincode
 	      FROM common_code_detail
 	     WHERE maincode = #{maincode}
 	     <if test="subcode != null and subcode != ''">
 	     	AND subcode LIKE '%' || #{subcode} || '%'
 	     </if>
 	     <if test="subcodeName != null and subcodeName != ''">
 	     	AND subcode_name LIKE '%' || #{subcodeName} || '%'
 	     </if>
   	</select>
</mapper>