<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.materials.mapper.MaterialsMapper">
	<select id="getMaterials" resultType="MaterialVO" parameterType="String">   
		SELECT mat_code, 
               mat_name,
               stock_cnt,
               safe_stock_cnt
          FROM mat
         WHERE 1=1
         <!-- 검색 조건 -->
         <if test="matName != null and matName != ''">
			AND mat_name LIKE '%'||#{matName}||'%'         
         </if>
      ORDER BY mat_code
	</select>
	
	<select id="getMaterialDetails" resultType="MaterialReadVO" parameterType="String">
		SELECT d.mat_lot_code,
               d.warehousing_cnt,
               d.check_done_cnt,
               d.out_cnt,
               d.remain_cnt,
               d.exp_date,
               d.qlty_check_status,
               d.mat_status,
               d.dump_date,
               d.unit_price,
               d.mat_code,
               d.company_code,
               m.mat_name
  	      FROM mat_detail d 
  	      		JOIN mat m	ON d.mat_code= m.mat_code
	     WHERE d.mat_code=#{matCode} 
	</select>
	
	<!-- 자재 발주 관리 -->
	<select id="getMaterialOrders" resultType="MaterialOrderReadVO">
		SELECT DISTINCT o.mat_orders_code,
       		   			o.users_code,
       		   			o.orders_date,
        	   			o.mat_total_orders_price,
       	   	   			o.total_orders_status,
        	   			d.mat_code,
       		   			d.company_code
		 		   FROM mat_orders o JOIN mat_orders_detail d
                    					ON o.mat_orders_code = d.mat_orders_code
                    				 JOIN (SELECT m.mat_code,
       									 		  m.mat_name,
        								 		  o.orders_date + m.lead_time "delivery_date"
											 FROM mat_orders o JOIN mat_orders_detail d
                    									  		ON o.mat_orders_code=d.mat_orders_code
                  									  		   JOIN mat m
                    											ON m.mat_code=d.mat_code) s
                    					ON s.mat_code = d.mat_code
	  		   ORDER BY o.mat_orders_code
	</select>
</mapper>