<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.product.mapper.ProductMapper">
	
	<!-- 제품조회 -->
	<select id="getProduct" resultType="ProductVO">
		SELECT p.product_code
		       , p.product_name
		       , p.unit_price
		       , p.stock_cnt
		       , p.safe_stock_cnt
		       , NVL(SUM(d.orders_cnt), 0) total_orders_cnt
		  FROM product p LEFT OUTER JOIN orders_detail d
		                 ON p.product_code = d.product_code
		 GROUP BY p.product_code
		          , p.product_name
		          , p.unit_price
		          , p.stock_cnt
		          , p.safe_stock_cnt
		 ORDER BY 1
	</select>

</mapper>