<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.production.mapper.ProdPlanMapper">

<!-- 생산요청 -->
	<select id="getProdReq" resultType="ProdPlanBVO">
		SELECT req_date 
		     , prod_req_code
		     , total_req_cnt
		     , users_code
		FROM prod_req
		WHERE req_date BETWEEN SYSDATE - 8 AND SYSDATE
	</select>

<!-- 생산요청상세 -->	
	<select id="getProdReqDetail" resultType="ProdPlanDeVO">
		SELECT prod_req_code
		     , prod_req_detail_code
		     , product_code
		     , req_cnt
		FROM prod_req_detail
		WHERE prod_req_code = #{prodReqCode}
	</select>
	
	
<!-- 생산계획 -->	
<!-- 	<insert id="insertProdPlan" parameterType="ProdPlanVO">
		INSERT INTO prod_plan
		( )
		VALUES (
			#{donut.nextval('PPL')}
		)
		
	</insert> -->
  	<select id="getProdPlan" resultType="ProdPlanVO">
		SELECT prod_plan_code
     		 , prod_req_code
     		 , plan_date
     		 , all_plan_status
     		 , users_code
		FROM prod_plan
	</select>

	<select id="getProdPlanAll" resultType="ProdPlanAllVO" parameterType="String">
		SELECT d.prod_plan_detail_code
		     , p.prod_plan_code
		     , d.prod_req_detail_code
		     , d.product_code
		     , d.fix_cnt
		     , d.req_cnt
		     , d.plan_cnt
		     , d.not_instruct_cnt
		     , d.instruct_done_cnt
		     , d.plan_detail_status
		FROM prod_plan p JOIN prod_plan_detail d
		                    ON p.prod_plan_code = d.prod_plan_code
		WHERE p.prod_plan_code = #{prodPlanCode}
	</select>


	
</mapper>