<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.prodReq.mapper.ProdReqMapper">

	<!-- 1. 조회 -->
	
	<!-- 생산요청 조회 -->
	<select id="getProdReq" resultType="ProdReqVO">
		SELECT p.prod_req_code
       		   , p.total_req_cnt
	           , p.req_date
	           , p.prod_req_status
	           , u.users_name
          FROM prod_req p JOIN users u
                         ON p.users_code = u.users_code
	  	 WHERE 1=1
		<if test="prodReqCode != null and prodReqCode != ''">
			AND p.prod_req_code LIKE '%' || #{prodReqCode} || '%'
		</if>
		<if test="usersName != null and usersName != ''">
			AND u.users_name LIKE '%' || #{usersName} || '%'
		</if>
		<if test="prodReqStartDate != null">
			AND TRUNC(p.req_date) <![CDATA[ >= ]]> TRUNC(#{prodReqStartDate})
		</if>
		<if test="prodReqEndDate != null">
			AND TRUNC(p.req_date) <![CDATA[ <= ]]> TRUNC(#{prodReqEndDate})
		</if>
		 ORDER BY p.req_date DESC
	</select>
	
	<!-- 생산요청상세목록 조회 -->
	<select id="getProdReqDet" resultType="ProdReqDetailVO" parameterType="String">
		SELECT r.prod_req_detail_code
			   , r.req_cnt
			   , r.prod_req_code
			   , p.product_name
		  FROM prod_req_detail r JOIN product p
		                           ON r.product_code = p.product_code
		 WHERE r.prod_req_code = #{prodReqCode}
		 ORDER BY 1
	</select>
	
	
	<!-- 2. 등록 -->
		
	<!-- 생산요청 등록 -->
	<insert id="insertProdReq" parameterType="ProdReqVO">
		<selectKey keyProperty="prodReqCode" order="BEFORE" resultType="String">
			SELECT seq_func('prod_req') FROM dual
		</selectKey>
	  	INSERT INTO prod_req
			(
				prod_req_code
				, total_req_cnt
				, req_date
				, users_code
				, prod_req_status
			)
		VALUES
			(
				#{prodReqCode}
				, #{totalReqCnt}
				, #{reqDate}
				, 'USE00002'
				, 'RS1'
			)
	</insert>
	
	<!-- 생산요청상세 등록 -->
	<insert id="insertProdReqDet" parameterType="ProdReqDetailVO">
		INSERT INTO prod_req_detail
			(
				prod_req_detail_code
				, req_cnt
				, prod_req_code
				, product_code
			)
		VALUES
			(
				seq_func('prod_req_detail')
				, #{reqCnt}
				, #{prodReqCode}
				, #{productCode}
			)
	</insert>
	
	<!-- 주문 상태 변경 -->
	<update id="updateOrdStat" parameterType="ProdReqVO">
		UPDATE orders
		   SET orders_status = 'OP2'
		 WHERE due_date <![CDATA[ >= ]]> #{dueStartDate}
		   AND due_date <![CDATA[ <= ]]> #{dueEndDate}
	</update>
	

</mapper>