<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.quality.mapper.QualityMapper">


<!-- 자재품질등록 /자재LOT코드(자재 상세s), 입고날짜/입고수량,발주코드(자재 입출 내역h) + 저장 버튼 기능 -->
<insert id="insertMatQuality" parameterType="MatQltyCheckVO">
	INSERT INTO MAT_QLTY_CHECK
				(
				mat_qlty_check_code
				, mat_lot_code
				, check_recv_date
				, warehousing_vehicles_check
				, foreign_exist
				, pack_status
				, last_result
				, good_cnt
				, users_code
				)
		VALUES (
				seq_func('MAT_QLTY_CHECK')
				, #{matLotCode}
				, trunc(sysdate)
				, #{warehousingVehiclesCheck}
				, #{foreignExist}
				, #{packStatus}
				, #{lastResult}
				, #{goodCnt}
				, 'USE00005'
				)
</insert>

<!-- 자재품질등록 / 등록 버튼 클릭시 목록에서 사라짐 + 재고수량 업데이트. 계란만/30 -->
<update id="addMatQual" parameterType="MatQltyCheckVO">
	<choose>
		<when test="matCode =='MAT00002'">
		 UPDATE mat
			SET STOCK_CNT = STOCK_CNT + round(#{goodCnt}/30,1)
		  WHERE mat_code = #{matCode}
		</when>
		<otherwise>
		 UPDATE mat
			SET STOCK_CNT = STOCK_CNT + #{goodCnt}
		  WHERE mat_code = #{matCode}
		</otherwise>
	</choose>
</update>

<!-- 자재품질등록 / 입출수량 업데이트 -->
<!--  <update id="addMatQual2" parameterType="MatQltyCheckVO">
	UPDATE mat_inout_history
	   SET INOUT_CNT = INOUT_CNT + #{goodCnt}
	 WHERE mat_inout_code = #{matInoutCode}	
</update>-->

<!-- 자재품질등록 / mat_detail 검사완료수량, 잔고수량, 자재검사상태(MI2검사완료) update -->
<update id="addMatQual3" parameterType="MatQltyCheckVO">
	UPDATE mat_detail
	SET CHECK_DONE_CNT = #{goodCnt}
		, REMAIN_CNT = #{goodCnt}
		, QLTY_CHECK_STATUS = 'MI2'
	WHERE MAT_LOT_CODE = #{matLotCode}
</update>

<!-- 자재품질등록 / if : 자재LOT번호, 입고날짜 검색 -->
<select id="getMatInfo" resultType="Map">
	SELECT s.mat_lot_code "matLotCode"
		 , s.mat_code "matCode"
         , h.inout_date "inputDate"
         , h.inout_cnt "inoutCnt"
         , 'IV1' "warehousingVehiclesCheck"
         , 'PFN' "foreignExist"
         , 'PSY' "packStatus"
         , 'MCY' "lastResult"
         , h.inout_cnt "goodCnt"
         , m.mat_code "matCode"
         , m.mat_name "matName"
	  FROM mat_detail s 
	  	JOIN mat_inout_history h ON s.mat_lot_code = h.mat_lot_code
	  	JOIN mat m ON m.mat_code = s.mat_code
		<where>
			s.qlty_check_status = 'MI1'
			<if test="matLotCode != null and matLotCode != ''">
				AND s.mat_lot_code LIKE '%'||#{matLotCode}||'%'
			</if>
		 	<if test="inoutDate != null">
		 		AND TRUNC(h.inout_date) >= #{inoutDate} and  TRUNC(h.inout_date) <![CDATA[<=]]> #{inoutDate2}
			</if>
	   		AND h.inout_sep = 'IN'
		</where>
		ORDER BY 1
</select>


<!--  자재품질관리 / if : 자재코드, 입고날짜 검색 -->
<select id="adminMatQuality" resultType="AdminMatQualVO">
	SELECT d.MAT_LOT_CODE
	        ,m.MAT_CODE
	        ,d.WAREHOUSING_CNT
	        ,d.CHECK_DONE_CNT
	        ,d.QLTY_CHECK_STATUS
	        ,m.MAT_NAME
	        ,h.INOUT_DATE
	        ,h.inout_sep
	        ,c.last_result
	   FROM MAT_DETAIL d JOIN MAT m
			ON m.MAT_CODE = d.MAT_CODE
	        LEFT OUTER JOIN MAT_INOUT_HISTORY h
	        			ON d.MAT_LOT_CODE = h.MAT_LOT_CODE
	        LEFT OUTER JOIN MAT_QLTY_CHECK c
	        			ON c.MAT_LOT_CODE = d.MAT_LOT_CODE
			where	d.qlty_check_status != 'MI1'
			and 	d.WAREHOUSING_CNT >= 1
				<if test="matCode != null and matCode != ''">
					AND m.MAT_CODE LIKE '%'||#{matCode}||'%'
				</if>
			 	<if test="searchStartDate != null">
			 		AND trunc(h.INOUT_DATE) <![CDATA[ >= ]]> #{searchStartDate}
				</if>
				<if test="searchEndDate != null">
			 		AND trunc(h.INOUT_DATE) <![CDATA[ <= ]]> #{searchEndDate}
				</if>
			ORDER BY h.INOUT_DATE desc
</select>

<!-- 완제품품질등록 / if : 생산완료일자 검색 -->
<select id="selectProQuality" resultType="ProDetailVO">
	SELECT d.PRODUCT_CODE
			, p.PRODUCT_NAME
			, d.PRODUCT_LOT_CODE
			, c.ALL_END_TIME
            , d.warehousing_cnt
            , d.qlty_check_status
	  FROM  PRODUCT p JOIN PRODUCT_DETAIL d
	  		          ON p.PRODUCT_CODE = d.PRODUCT_CODE
	  		          LEFT OUTER JOIN PROC_RESULT c 
                      ON c.PROC_RESULT_CODE = d.PROC_RESULT_CODE
      WHERE d.qlty_check_status ='PQ1'
             <if test="allEndTime != ''">
			 		AND trunc(c.ALL_END_TIME) = to_Date(#{allEndTime},'yyyy-MM-dd')
				</if>
                 ORDER BY 1	
</select>

<!-- 완제품품질등록 grid2 -->
<select id="selectProQual" resultType="Map">
	SELECT product_lot_code "productLotCode"
			, product_code "productCode"
	        , 'PFN' "foreignExist"
	        , 'PSY' "packStatus"
	        , 'ACY' "addStand"
	        , 'PWY' "productWeight"
	        , 'PRY' "lastResult"
	        , warehousing_cnt "goodCnt"
	        , warehousing_cnt "warehousingCnt"
	FROM product_detail
	WHERE qlty_check_status = 'PQ1'
	Order By 1
</select>

<!-- 완제품품질등록 grid2 / +등록버튼 클릭하면 적합수량에 포함. addProQual이랑 같이.-->
<insert id="insertProQual" parameterType="ProQltyVO">
	INSERT INTO PRODUCT_QLTY_CHECK
				(
				product_qlty_check_code
				, product_lot_code
				, check_recv_date
				, foreign_exist
				, pack_status
				, add_stand
				, product_weight
				, last_result
				, good_cnt
				)
		VALUES (
				seq_func('PRODUCT_QLTY_CHECK')
				, #{productLotCode}
				, trunc(sysdate)
				, #{foreignExist}
				, #{packStatus}
				, #{addStand}
				, #{productWeight}
				, #{lastResult}
				, #{goodCnt}
				)
</insert>


<update id="addProQual">
	UPDATE product_detail
	   SET check_done_cnt = #{goodCnt}
	   		, remain_cnt = #{goodCnt}
	   		, delivery_cnt = 0
	   		, qlty_check_status = 'PQ2'
	   		, product_status = 'PD1'
	 WHERE PRODUCT_LOT_CODE = #{productLotCode}
</update>

<!-- 완제품 품질 등록 / inout_history 입출고내역 등록-->
<insert id="insertProdInout" parameterType="ProQltyVO">
	INSERT INTO product_inout_history
		    (
		        product_inout_code
		        , inout_sep
		        , inout_cnt
		        , inout_date
		        , product_lot_code
		        , users_code
		    )
		VALUES
		    (
				seq_func('product_inout_history')
				, 'IO1'
				, #{goodCnt}
				, sysdate
				, #{productLotCode}
				, 'USE00005'
		    )
</insert>

<!-- 완제품 품질등록 (코드리뷰 추가) -->
<update id="addProQual2">
    UPDATE product p
        SET p.stock_cnt = 
         (
             SELECT sum(d.remain_cnt)
             FROM product_detail d
             WHERE p.product_code = d.product_code
             GROUP BY d.product_code
         )
         WHERE product_code = #{productCode} 
</update>

<!-- 완제품 불량등록 -->
<select id="getUnfitProd" resultType="QualityUnfitVO">
	SELECT d.product_code
			, d.prod_req_detail_code
			, h.product_lot_code
			, c.check_recv_date
			, c.last_result
	FROM PROD_PLAN_DETAIL d JOIN PRODUCT_INOUT_HISTORY h
	                  ON d.prod_req_detail_code = h.prod_req_detail_code
	                  right OUTER JOIN product_qlty_check c
	                  ON h.PRODUCT_LOT_CODE = c.PRODUCT_LOT_CODE
	           	<where>
				<if test="productLotCode != null and productLotCode != ''">
					AND h.product_lot_code LIKE '%'||#{productLotCode}||'%'
				</if>
			 	<if test="checkRecvDate != null and checkRecvDate != ''">
			 		AND trunc(c.check_recv_date) = to_Date(#{checkRecvDate},'yyyy-MM-dd')
				</if>
			</where>
			ORDER BY 1	                  
</select>

<!-- 완제품 품질 관리 / 제품명, 검사접수일자 검색-->
<select id="adminProQuality" resultType="ProQltyVO">
	SELECT d.product_lot_code
		, c.PRODUCT_QLTY_CHECK_CODE
	    , p.product_name
	    , c.check_recv_date
	    , c.GOOD_CNT
	    , c.last_result
	FROM PRODUCT p JOIN PRODUCT_DETAIL d
	                  ON p.PRODUCT_CODE = d.PRODUCT_CODE
	                  right OUTER JOIN product_qlty_check c 
	                  ON d.PRODUCT_LOT_CODE = c.PRODUCT_LOT_CODE
	           	<where>
				<if test="productName != null and productName != ''">
					AND p.PRODUCT_NAME LIKE '%'||#{productName}||'%'
				</if>
			 	<if test="checkRecvDate != ''">
			 		AND trunc(c.check_recv_date) = to_Date(#{checkRecvDate},'yyyy-MM-dd')
				</if>
			</where>
			ORDER BY c.check_recv_date desc
</select>

</mapper>