<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.quality.mapper.QualityMapper">


<!-- 자재품질등록 /자재LOT코드(자재 상세s), 입고날짜/입고수량,발주코드(자재 입출 내역h) + 저장 버튼 기능  -->
<insert id="insertMatQuality" parameterType="MatQltyCheckVO">
	INSERT INTO MAT_QLTY_CHECK
				(
				mat_qlty_check_code
				, mat_lot_code
				, check_recv_date
				, warehousing_vehicles_check
				, foreign_exist
				, pack_status
				, last_result
				, good_cnt
				, users_code
				)
		VALUES (
				seq_func('MAT_QLTY_CHECK')
				, #{matLotCode}
				, trunc(sysdate)
				, #{warehousingVehiclesCheck}
				, #{foreignExist}
				, #{packStatus}
				, #{lastResult}
				, #{goodCnt}
				, 'USE00005'
				)
</insert>

<!--  자재품질등록 / if : 자재LOT번호, 입고날짜 검색 -->
<select id="getMatInfo" resultType="Map">
	SELECT s.MAT_LOT_CODE "matLotCode"
       , h.INOUT_DATE "inputDate"
       , h.INOUT_CNT "inoutCnt"
       , 'IV1' "warehousingVehiclesCheck"
       , 'PFN' "foreignExist"
       , 'PSY' "packStatus"
       , 'MCY' "lastResult"
	  FROM MAT_DETAIL s JOIN MAT_INOUT_HISTORY h
		ON s.MAT_LOT_CODE = h.MAT_LOT_CODE
		<where>
			s.qlty_check_status = 'MI1'
			<if test="matLotCode != null and matLotCode != ''">
				AND s.MAT_LOT_CODE LIKE '%'||#{matLotCode}||'%'
			</if>
		 	<if test="inoutDate != null and inoutDate != ''">
		 		AND trunc(h.INOUT_DATE) = to_Date(#{inoutDate},'yyyy-MM-dd')
			</if>
	   		AND h.inout_sep = 'IN'
		</where>
		ORDER BY 1
</select>


<!--  자재품질관리 / if : 자재코드, 입고날짜 검색 -->
<select id="adminMatQuality" resultType="Map">
SELECT d.MAT_LOT_CODE
        ,m.MAT_CODE
        ,d.WAREHOUSING_CNT
        ,d.CHECK_DONE_CNT
        ,d.QLTY_CHECK_STATUS
        ,m.MAT_NAME
        ,h.INOUT_DATE
        ,h.inout_sep
   FROM MAT_DETAIL d JOIN MAT m
		ON m.MAT_CODE = d.MAT_CODE
        LEFT OUTER JOIN MAT_INOUT_HISTORY h ON d.MAT_LOT_CODE = h.MAT_LOT_CODE       
		<where>
			d.WAREHOUSING_CNT >= 1
			<if test="matCode != null and matCode != ''">
				AND m.MAT_CODE LIKE '%'||#{matCode}||'%'
			</if>
		 	<if test="inoutDate != null and inoutDate != ''">
		 		AND trunc(h.INOUT_DATE) = to_Date(#{inoutDate},'yyyy-MM-dd')
			</if>           
		</where>
		ORDER BY 1
</select>



</mapper>