<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.quality.mapper.QualityMapper">

<!-- 자재품질등록 / 자재LOT코드(자재 상세s), 입고날짜/입고수량,발주코드(자재 입출 내역h)  -->
<insert id="insertMatQuality" parameterType="QualityVO">
	INSERT INTO WAREHOUSING_VEHICLES_CHECK
				, FOREIGN_EXIST
				, PACK_STATUS
				, LAST_RESULT
		VALUES (
				#{warehousingVehiclesCheck}
				,#{foreignExist}
				,#{packStatus}
				,#{lastResult}
				)
</insert>

<!--  자재품질등록 / if : 자재LOT번호, 입고날짜 검색 -->
<select id="getMatInfo" resultType="Map">
	SELECT s.MAT_LOT_CODE
		   , h.INOUT_DATE
		   , h.INOUT_CNT
	  FROM MAT_DETAIL S JOIN MAT_INOUT_HISTORY H
		ON S.MAT_LOT_CODE = H.MAT_LOT_CODE
		<where>
			s.qlty_check_status = '미검사'
			<if test="matLotCode != null and matLotCode != ''">
				AND s.MAT_LOT_CODE LIKE '%'||#{matLotCode}||'%'
			</if>
		 	<if test="inoutDate != null and inoutDate != ''">
		 		AND trunc(h.INOUT_DATE) = to_Date(#{inoutDate},'yyyy-MM-dd')
			</if>
	   		AND h.inout_sep = 'IN'
		</where>
		ORDER BY 1
</select>

<!-- 자재품질관리 / 자재코드 자재명(MAT 테이블, mat_datail)-->
<select id="adminMatQuality" resultType="Map">
	SELECT d.mat_lot_code
          ,d.warehousing_cnt
          ,d.check_done_cnt
          ,d.qlty_check_status
          ,d.mat_code
          ,m.mat_name
     FROM mat m JOIN mat_detail d
          ON m.mat_code = d.mat_code
          	<where>
			d.WAREHOUSING_CNT >= 1
			<if test="matCode != null and matCode != ''">
				AND m.MAT_CODE LIKE '%'||#{matCode}||'%'
			</if>
		 	<if test="inoutDate != null and inoutDate != ''">
		 		AND trunc(h.INOUT_DATE) = to_Date(#{inoutDate},'yyyy-MM-dd')
			</if>           
		</where>
		ORDER BY 1
</select>

<!--  자재품질관리 / if : 자재코드, 입고날짜 검색 -->
<select id="getMatAdmin" resultType="Map">
SELECT d.MAT_LOT_CODE
        ,m.MAT_CODE
        ,d.WAREHOUSING_CNT
        ,d.CHECK_DONE_CNT
        ,d.QLTY_CHECK_STATUS
        ,m.MAT_NAME
        ,h.INOUT_DATE
        ,h.inout_sep
   FROM MAT_DETAIL d JOIN MAT m
		ON m.MAT_CODE = d.MAT_CODE
        LEFT OUTER JOIN MAT_INOUT_HISTORY h ON d.MAT_LOT_CODE = h.MAT_LOT_CODE       
		<where>
			d.WAREHOUSING_CNT >= 1
			<if test="matCode != null and matCode != ''">
				AND m.MAT_CODE LIKE '%'||#{matCode}||'%'
			</if>
		 	<if test="inoutDate != null and inoutDate != ''">
		 		AND trunc(h.INOUT_DATE) = to_Date(#{inoutDate},'yyyy-MM-dd')
			</if>           
		</where>
		ORDER BY 1
</select>



</mapper>